<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<style>
body {
  background: linear-gradient(115deg, #1C110A 10%, #E4D6A7 90%);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.menu {
  width: 100%;
  background: linear-gradient(beige, black, brown); 
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-logo {
  width: 30px; 
  height: 30px; 
}

.menu-item a {
  color: white;
  text-decoration: none;
  margin-left: 10px; 
}


</style>
</head>
<body>

<nav class="menu">
  <ol>
    <li class="menu-item">
      <img class="menu-logo" src="https://cryptologos.cc/logos/axie-infinity-axs-logo.png" alt="Logo">
      <a href="#0">Home</a>
    </li>
    <li class="menu-item"><a href="#0">Andrei Gz</a></li>
  </ol>
</nav>




<div class="photo-cards-container">
  <div class="photo-card">
    <img src="https://laz-img-sg.alicdn.com/p/8580adba9c0695401b1bb236efbab636.jpg" alt="Photo 1">
    <h2>BI-ping-bong</h2>
    <p>Price: $25</p>
    <p>"The Blackpink light stick is called Bl-Ping-Bong and was designed by the members of Blackpink"</p>
  </div>

  <div class="photo-card">
    <img src="https://ph-live-01.slatic.net/p/13bdfb987ff77f63ca4f3c242ed6918f.jpg" alt="Photo 2">
    <h2>Candy Bong</h2>
    <p>Price: $22</p>
    <p>"The light stick incorporates TWICE's official colors: apricot and neon magenta"</p>
  </div>

  <div class="photo-card">
    <img src="https://kpop2u-unnie.com/cdn/shop/products/FsMSBC-WwAEhRb4_1bef5d56-422b-4db9-bafc-f4935d6824fc.jpg?v=1680067165" alt="Photo 2">
    <h2>Binky Bong</h2>
    <p>Price: $21</p>
    <p>"The lightstick's design resembles a white rabbit, which references the group's fandom name "Bunnies" or "Tokki" (토끼, "rabbit" in Korean)."</p>
  </div>
  <div class="photo-card">
    <img src="https://pbs.twimg.com/media/FNooHTMagAATMh4.jpg:large" alt="Photo 2">
    <h2>Ha-Bong</h2>
    <p>Price: $20</p>
    <p>"AFTER LIKE"</p>
  </div>

  <div class="photo-card">
    <img src="https://i.ebayimg.com/images/g/56cAAOSwWeRkG9YU/s-l1200.jpg" alt="Photo 3">
    <h2>Fimbong</h2>
    <p>Price: $19</p>
    <p>"FEARNOT"</p>
    
  </div>
</div>

</body>
</html>
